@use "utilities/variables.scss";

.image-navigation {
    display: flex;
    justify-content: space-between;

    div {
        display: flex;
        gap: 8px;
    }
}

.image-carousel {
    display: flex;

    gap: 16px;

    background-color: red;

    width: 100%;

    .post_image {
        width: 400px;
        height: 700px;
        background-color: aqua;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.scroll-container {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: start;

    .grid {
        display: flex;
        gap: 16px;
        flex-wrap: nowrap;

        .item {
            flex: 0 0 auto;
            width: 300px;
            aspect-ratio: 3/5;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                border-radius: variables.$radius-small;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 1000px) {
    .item {
        max-width: 200px;
    }
}

@media (max-width: 700px) {
    .item {
        max-width: 100px;
    }
}

