$main-color: #110118;
$white: #FAF8F6;
$faded_white: #faf8f6a1;
$detail: #F7DD6F;
$purple-2: #6D3483;
$inactive_grey: #faf8f637;

$radius-small: 8px;
$radius-medium: 16px;

$serif: serif;
$sans-serif: sans-serif;


