$main-color: #110118;
$white: #FAF8F6;
$faded_white: #faf8f6a1;
$detail: #F7DD6F;
$purple-2: #6D3483;
$inactive_grey: #faf8f637;

$radius-small: 8px;
$radius-medium: 16px;

$serif: 'TT Ramillas', 'Neometric';
$sans-serif: 'Neometric';

@font-face {
    font-family: 'Neometric';
    src: url('../../../public/fonts/Neometric-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Ramillas';
    src: url('../../../public/fonts/Fontspring-DEMO-tt_ramillas_extrabold.otf') format('woff');
    font-weight: bold;
    font-style: normal;
}
